<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.community.mapper.CommunityModelMapper">
    <resultMap id="BaseResultMap" type="org.jeecg.modules.community.model.CommunityModel">
        <!--@mbg.generated-->
        <!--@Table tb_community-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="user_type" jdbcType="TINYINT" property="userType"/>
        <result column="star_num" jdbcType="BIGINT" property="starNum"/>
        <result column="good_num" jdbcType="BIGINT" property="goodNum"/>
        <result column="forward_num" jdbcType="BIGINT" property="forwardNum"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="watch_num" jdbcType="TINYINT" property="watchNum"/>
    </resultMap>


    <resultMap id="voResultMap" type="org.jeecg.modules.community.model.vo.CommunityModelVo">
        <!--@mbg.generated-->
        <!--@Table tb_community-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="user_type" jdbcType="TINYINT" property="userType"/>
        <result column="star_num" jdbcType="BIGINT" property="starNum"/>
        <result column="good_num" jdbcType="BIGINT" property="goodNum"/>
        <result column="forward_num" jdbcType="BIGINT" property="forwardNum"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="head_image" jdbcType="VARCHAR" property="headImage"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="watch_num" jdbcType="TINYINT" property="watchNum"/>
        <result column="star_status" jdbcType="VARCHAR" property="starStatus"/>
        <result column="good_status" jdbcType="VARCHAR" property="goodStatus"/>
    </resultMap>

    <resultMap id="UserCourseVoResultMap" type="org.jeecg.modules.course.model.vo.UserCourseVo">

        <id column="id" jdbcType="VARCHAR" property="courseId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="image_url" jdbcType="VARCHAR" property="image"/>
<!--        <result column="city" jdbcType="VARCHAR" property="city"/>-->
        <result column="course_type" jdbcType="INTEGER" property="courseType"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="star_num" jdbcType="BIGINT" property="starNum"/>
        <result column="good_num" jdbcType="BIGINT" property="goodNum"/>
        <result column="forward_num" jdbcType="BIGINT" property="forwardNum"/>
<!--        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>-->
        <result column="head_image" jdbcType="VARCHAR" property="headImage"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="watch_num" jdbcType="TINYINT" property="watchNum"/>
        <result column="star_status" jdbcType="VARCHAR" property="starStatus"/>
        <result column="good_status" jdbcType="VARCHAR" property="goodStatus"/>
    </resultMap>










    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, title, content, url, image_url, city, `type`, user_type, star_num, good_num,
        forward_num, create_time, update_time, create_by, update_by, del_flag, watch_num,check_status
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from tb_community
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
    delete from tb_community
    where id = #{id,jdbcType=VARCHAR}
  </delete>

    <insert id="insertSelective" parameterType="org.jeecg.modules.community.model.CommunityModel">
        <!--@mbg.generated-->
        insert into tb_community
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
        id,
      </if>
            <if test="userId != null">
        user_id,
      </if>
            <if test="title != null">
        title,
      </if>
            <if test="content != null">
        content,
      </if>
            <if test="url != null">
        url,
      </if>
            <if test="imageUrl != null">
        image_url,
      </if>
            <if test="city != null">
        city,
      </if>
            <if test="type != null">
        `type`,
      </if>
            <if test="userType != null">
        user_type,
      </if>
            <if test="starNum != null">
        star_num,
      </if>
            <if test="goodNum != null">
        good_num,
      </if>
            <if test="forwardNum != null">
        forward_num,
      </if>
            <if test="createTime != null">
        create_time,
      </if>
            <if test="updateTime != null">
        update_time,
      </if>
            <if test="createBy != null">
        create_by,
      </if>
            <if test="updateBy != null">
        update_by,
      </if>
            <if test="delFlag != null">
        del_flag,
      </if>
            <if test="watchNum != null">
            watch_num,
        </if>
            <if test="checkStatus != null">
                check_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
            <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
            <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
            <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
            <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
            <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
            <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
            <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
            <if test="userType != null">
        #{userType,jdbcType=TINYINT},
      </if>
            <if test="starNum != null">
        #{starNum,jdbcType=BIGINT},
      </if>
            <if test="goodNum != null">
        #{goodNum,jdbcType=BIGINT},
      </if>
            <if test="forwardNum != null">
        #{forwardNum,jdbcType=BIGINT},
      </if>
            <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
            <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
            <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
            <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
            <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
            <if test="watchNum != null">
                #{watchNum},
            </if>
            <if test="checkStatus != null">
                #{checkStatus},
            </if>
        </trim>
    </insert>
    <update id="updateSelective" parameterType="org.jeecg.modules.community.model.CommunityModel">
        <!--@mbg.generated-->
        update tb_community
        <set>
            <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
            <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
            <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
            <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
            <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
            <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
            <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
            <if test="userType != null">
        user_type = #{userType,jdbcType=TINYINT},
      </if>
            <if test="starNum != null">
        star_num = #{starNum,jdbcType=BIGINT},
      </if>
            <if test="goodNum != null">
        good_num = #{goodNum,jdbcType=BIGINT},
      </if>
            <if test="forwardNum != null">
        forward_num = #{forwardNum,jdbcType=BIGINT},
      </if>
            <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
            <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
            <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
            <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
            <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
            <if test="watchNum != null">
                watch_num = #{watchNum},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.jeecg.modules.community.model.CommunityModel">
        <!--@mbg.generated-->
    update tb_community
    set user_id = #{userId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=TINYINT},
      user_type = #{userType,jdbcType=TINYINT},
      star_num = #{starNum,jdbcType=BIGINT},
      good_num = #{goodNum,jdbcType=BIGINT},
      forward_num = #{forwardNum,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <select id="loadCommunityListByType" parameterType="integer" resultMap="voResultMap">

        select
        a.id, a.user_id, a.title, a.content, a.url, a.image_url, a.city, a.`type`, a.user_type, a.star_num, a.good_num,
        a.forward_num, a.create_time, b.head_image,b.nick_name,IFNULL(c.star ,0)as star_status,IFNULL(c.good ,0) as
        good_status
        from tb_community as a LEFT JOIN tb_user b on a.user_id =b.id
        LEFT JOIN tb_user_star c on c.community_id =a.id and c.user_id = #{userId,jdbcType=VARCHAR}
        <where>
            a.check_status=2
            <if test="type != null and type==1">
                    and a.user_type =4
                </if>
            <if test="type != null and type==3">
                   and a.type =2
                </if>
        </where>
        order by create_time DESC


        <!--        select-->
        <!--        a.id, a.user_id, a.title, a.content, a.url, a.image_url, a.city, a.`type`, a.user_type, a.star_num, a.good_num,-->
        <!--        a.forward_num, a.create_time, b.head_image,b.nick_name-->
        <!--        from tb_community as a LEFT JOIN tb_user b on a.user_id =b.id-->
        <!--        <where>-->
        <!--            <if test="type != null and type==1">-->
        <!--                a.user_type =4-->
        <!--            </if>-->
        <!--            <if test="type != null and type==3">-->
        <!--                a.type =2-->
        <!--            </if>-->
        <!--        </where>-->
        <!--        order by create_time DESC-->

    </select>


    <select id="loadTalentCommunity" parameterType="string" resultMap="voResultMap">
        <!--        select a.id, a.user_id, a.title, a.content, a.url, a.image_url, a.city, a.`type`, a.user_type, a.star_num, a.good_num,-->
        <!--        a.forward_num, a.create_time, c.head_image,c.nick_name-->
        <!--        from tb_community as a LEFT JOIN tb_talent_info b on a.user_id =b.user_id-->
        <!--        LEFT JOIN tb_user c on b.user_id =c.id-->
        <!--        order by create_time DESC-->

        select a.id, a.user_id, a.title, a.content, a.url, a.image_url, a.city, a.`type`, a.user_type, a.star_num, a.good_num,
        a.forward_num, a.create_time, c.head_image,c.nick_name,IFNULL(d.star,0) as star_status,IFNULL(d.good,0) as good_status
        from tb_community as a LEFT JOIN tb_talent_info b on a.user_id =b.user_id
        LEFT JOIN tb_user c on a.user_id =c.id
        LEFT JOIN tb_user_star d on d.community_id =a.id and d.user_id = #{userId,jdbcType=VARCHAR}
        where  a.check_status=2
        order by create_time DESC
    </select>


    <select id="getListByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_community
        <where>
            check_status=2
            <trim prefixOverrides="and">
                <if test="userId != null and userId != ''">
                    and user_id = #{userId}
                </if>
            </trim>
        </where>
        order by create_time desc
    </select>
    <select id="selectByFocusUserId" resultMap="voResultMap">
        <!--    SELECT c.* from tb_community c-->
        <!--    RIGHT JOIN tb_user_focus uf ON c.user_id = uf.focus_user_id  and c.check_status=2-->
        <!--    where uf.user_id = #{userId}-->

<!--        SELECT a.*,b.nick_name,b.head_image from tb_community as a LEFT JOIN tb_user as b on a.user_id =b.id-->
<!--        where user_id in-->
<!--        (SELECT focus_user_id from tb_user_focus where user_id=#{userId} and del_flag =0)-->

        SELECT a.*,b.nick_name,b.head_image ,IFNULL(d.star,0) as star_status,IFNULL(d.good,0) as good_status
        from tb_community as a LEFT JOIN tb_user as b on a.user_id =b.id
        LEFT JOIN tb_user_star d on d.community_id =a.id and d.user_id = #{userId}
        where a.user_id in(SELECT focus_user_id from tb_user_focus where user_id=#{userId} and del_flag =0)
    </select>
    <select id="getListOrderByLikeNum" resultMap="UserCourseVoResultMap">
        SELECT
        a.*,
        b.nick_name,b.head_image,IFNULL(d.star,0) as star_status,IFNULL(d.good,0) as good_status,1 as course_type
        FROM
        tb_community AS a
        LEFT JOIN tb_user AS b ON a.user_id = b.id
        LEFT JOIN tb_user_star d on d.community_id =a.id and d.user_id = #{userId}
        WHERE
        a.check_status =2
        <if test="type != null">
        and a.type = #{type}
      </if>
        <if test="city != null and city != ''">
        and a.city = #{city}
      </if>
        AND a.del_flag = 0
        order by a.good_num desc
    </select>

    <update id="updateCommunityNum">
        update tb_community
        <set>
            <if test="starNum != null">
            star_num =star_num+ #{starNum,jdbcType=BIGINT},
            </if>
            <if test="goodNum != null">
            good_num =good_num+ #{goodNum,jdbcType=BIGINT},
            </if>
            <if test="forwardNum != null">
            forward_num = forward_num+#{forwardNum,jdbcType=BIGINT},
            </if>
            <if test="watchNum != null">
            watch_num = watch_num+#{watchNum},
            </if>
        </set>
        where id = #{communityId,jdbcType=VARCHAR}
    </update>


    <select id="loadStarAndGoodCommunityList" parameterType="string" resultMap="voResultMap">
        SELECT b.user_id,b.title, b.content, b.url, b.image_url, b.city, b.`type`, b.user_type, b.star_num, b.good_num,b.id,
        b.forward_num, b.create_time, c.head_image,c.nick_name,a.star as star_status,a.good as good_status
        from tb_user_star a LEFT JOIN tb_community as b on a.community_id =b.id
        LEFT JOIN tb_user c on b.user_id =c.id
        where a.user_id = #{userId,jdbcType=VARCHAR} and b.check_status=2
        <if test="type != null and type==1">
            and a.star=1
        </if>
        <if test="type != null and type==2">
            and a.good=1
        </if>
    </select>


    <select id="loadCommunityBySearch" resultMap="voResultMap" parameterType="string">
        select
        a.id, a.user_id, a.title, a.content, a.url, a.image_url, a.city, a.`type`, a.user_type, a.star_num, a.good_num,
        a.forward_num, a.create_time, b.head_image,b.nick_name,IFNULL(c.star ,0) as star_status,IFNULL(c.good ,0) as
        good_status
        from tb_community as a LEFT JOIN tb_user b on a.user_id =b.id
        LEFT JOIN tb_user_star c on c.community_id =a.id and c.user_id = #{userId,jdbcType=VARCHAR}
        <where>
            a.check_status=2
            <if test="type != null">
            and a.`type` =#{type,jdbcType=VARCHAR}
        </if>
            <if test="search != null and search != ''">
            and content like '%${search}%'
        </if>
        </where>
        <if test="sortmodel != null and sortmodel==1">
        order by create_time DESC,good_num desc
    </if>
        <if test="sortmodel != null and sortmodel==2">
        order by good_num DESC
    </if>
        <if test="sortmodel != null and sortmodel==3">
        order by create_time DESC
    </if>
    </select>

</mapper>
