<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.community.mapper.CommunityModelMapper">
  <resultMap id="BaseResultMap" type="org.jeecg.modules.community.model.CommunityModel">
    <!--@mbg.generated-->
    <!--@Table tb_community-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="imageUrl" jdbcType="VARCHAR" property="imageurl" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="user_type" jdbcType="TINYINT" property="userType" />
    <result column="starNum" jdbcType="BIGINT" property="starnum" />
    <result column="goodNum" jdbcType="BIGINT" property="goodnum" />
    <result column="forwardNum" jdbcType="BIGINT" property="forwardnum" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, title, content, url, imageUrl, city, `type`, user_type, starNum, goodNum,
    forwardNum, create_time, update_time, create_by, update_by, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from tb_community
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from tb_community
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.jeecg.modules.community.model.CommunityModel">
    <!--@mbg.generated-->
    insert into tb_community (id, user_id, title,
      content, url, imageUrl,
      city, `type`, user_type,
      starNum, goodNum, forwardNum,
      create_time, update_time, create_by,
      update_by, del_flag)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
      #{content,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{imageurl,jdbcType=VARCHAR},
      #{city,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{userType,jdbcType=TINYINT},
      #{starnum,jdbcType=BIGINT}, #{goodnum,jdbcType=BIGINT}, #{forwardnum,jdbcType=BIGINT},
      #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
      #{updateBy,jdbcType=VARCHAR}, #{delFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="org.jeecg.modules.community.model.CommunityModel">
    <!--@mbg.generated-->
    insert into tb_community
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="imageurl != null">
        imageUrl,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="starnum != null">
        starNum,
      </if>
      <if test="goodnum != null">
        goodNum,
      </if>
      <if test="forwardnum != null">
        forwardNum,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null">
        #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=TINYINT},
      </if>
      <if test="starnum != null">
        #{starnum,jdbcType=BIGINT},
      </if>
      <if test="goodnum != null">
        #{goodnum,jdbcType=BIGINT},
      </if>
      <if test="forwardnum != null">
        #{forwardnum,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.jeecg.modules.community.model.CommunityModel">
    <!--@mbg.generated-->
    update tb_community
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null">
        imageUrl = #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=TINYINT},
      </if>
      <if test="starnum != null">
        starNum = #{starnum,jdbcType=BIGINT},
      </if>
      <if test="goodnum != null">
        goodNum = #{goodnum,jdbcType=BIGINT},
      </if>
      <if test="forwardnum != null">
        forwardNum = #{forwardnum,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.jeecg.modules.community.model.CommunityModel">
    <!--@mbg.generated-->
    update tb_community
    set user_id = #{userId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      imageUrl = #{imageurl,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=TINYINT},
      user_type = #{userType,jdbcType=TINYINT},
      starNum = #{starnum,jdbcType=BIGINT},
      goodNum = #{goodnum,jdbcType=BIGINT},
      forwardNum = #{forwardnum,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="loadCommunityListByType" parameterType="integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_community
    where type = #{type,jdbcType=VARCHAR}
    order by create_time desc
  </select>
</mapper>
